* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #f4538a;
    --color-secondary: #45ffca;
    --color-btn-whatsapp: rgb(92, 223, 87);
    --color-black: #000000;
    --color-white: white;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
}

.logo, .alert-page-not-found {
    color: var(--color-primary);
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    display: block;
    padding: 2rem 2rem 0;
    margin: auto;
    text-align: center;
}

.navigation {
    list-style: none;
    padding: .5rem;
    margin: 0 auto;
    max-width: 100vw;
    text-align: center;
    font-size: 1.2rem;
}

.navigation .nav-item {
    display: inline-block;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: var(--color-black) !important;
}

a:visited {
    color: var(--color-primary);
}

.main {
    margin: 2rem;
    text-align: justify;
}

.slogan {
    color: var(--color-primary);
    text-align: center;
    font-family: "Oleo Script", system-ui;
    font-size: 1.8rem;
}

img {
    max-width: 80%;
     /* Centraliza a imagem: */
    /* para centralizar apenas uma imagem, a propriedade display deve ser alterada para block. Dessa forma apenas uma imagem é colocada na linha */
    /* O segundo valor, entretanto, deve sempre ser auto para colocar a imagem bem no centro, contudo esse recurso funciona apenas para uma imagem de cada vez. */
    display: block;
    margin: 0 auto;
}

.primary-img {
    border-radius: 50%;   
}

.secondary-img {
    border-radius: 12%;   
}

h2 {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.btn {
    padding: 0.8rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    border: none;
    display: block;
    margin: 2rem auto;
    font-weight: bold;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-top: 1.5rem;
}

.reason {
    padding-bottom: 2rem;
    font-weight: bold;
}

.follow-me-section .bi {
    padding: .8rem !important;
    font-size: 2rem;
}

.follow-me-section>p {
    padding-bottom: 1rem;
    text-align: center;
}

.follow-me-section .social-midia-icons{
    text-align: center;
}

.btn-whatsApp {
    color: var(--color-white) !important;
    background-color:var(--color-btn-whatsapp);
    padding: 1rem;
    border-radius: 1.5rem;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}

footer, footer a {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    padding: .5rem;
    text-align: center;
}

footer .logo {
    color: var(--color-white);
}

footer p {
    margin: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

/* Responsividade: */
@media (min-width: 67rem) { 
    img {
        max-width: 30%;
    }
    
    h2 {
        padding-top: 3rem;
    }

    .content {
        display: flex;
        -ms-flex-direction: column;
        gap: 3rem;
    }   
}

@media (min-width: 72rem) { 
    body {
        max-width: 80vW;
        margin: auto;
    }

    footer {
        width: 100vw;
    }
}