* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #ffaf61;
    --color-secondary: #f4538a;
    --color-third: #45ffca;
    --color-btn-whatsapp: rgb(92, 223, 87);
    --color-black: #000000;
    --color-white: white;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    color: var(--color-secondary);
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    padding: 2rem 2rem 0;
    margin: auto;
}

.navigation {
    list-style: none;
    margin: 0 auto;
}

.navigation .nav-item {
    display: inline-block;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    margin: 2rem;
    text-align: justify;
}

.slogan {
    color: var(--color-secondary);
}

.slogan span {
    color: var(--color-black);
}

.primary-img {
    max-width: 80%;
    border-radius: 50%;
    margin: auto;
}

h2 {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

.btn {
    padding: 0.7rem;
    background-color: var(--color-third);
    border-radius: 1rem;
    border: none;
    margin: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}


.secondary-img {
    max-width: 80%;
    margin: auto;
}

.reason {
    padding-bottom: 2rem;
    font-weight: bold;
}

.reasons>p{
    padding-bottom: 2rem;
}

.cta {
    padding-bottom: 0 !important;
}

.follow-me .bi {
    padding: .5rem !important;
}

.follow-me>p {
    padding-bottom: 1rem;
}

.btn-whatsApp {
    color: var(--color-white);
    background-color:var(--color-btn-whatsapp);
    padding: .8rem;
    border-radius: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}

footer, footer a {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: .5rem;
}

footer .logo {
    color: var(--color-white);
}

footer p {
    padding: 1rem;
}

/* Responsividade: */
@media (min-width: 67rem) { 
   
       
}